/* Version 0.0.2
Added a boostrap class tags '.img-fluid' 
  to fix image resizing and centering
*/

h1
{
  text-align: center;
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

h2
{
  text-align: center;
  font-size: 40px;
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#secondsWasted {
  font-size: 40px;
  text-align: center;
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#result {
  font-size: 40px;
  text-align: center;
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.img-fluid {
 text-align: center;
 height: 30%;
}

body {
  background: url(https://c4.wallpaperflare.com/wallpaper/265/257/108/ai-art-mushroom-clouds-atomic-bomb-city-hd-wallpaper-preview.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

