@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Space+Mono&display=swap');
@import url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000');

body {
  font-family: 'Dancing Script', 'Space Mono', cursive;
  font-size: 30px;
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000");
  }
button {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  border-radius: 40px;
  background: #ffffff;
  padding: 20px;
  }
.words {
  text-align: center;
  color: greenyellow;
}
#userInput {
  text-align: center;
  color: greenyellow; 
  }
.textBox {
  text-align: center;
  color: rgb(255, 255, 255);
}
.btn {
  text-align: center;
  color: greenyellow;
}
/* #something {
  text-align: center;
  color: rgb(255, 255, 255);
}
#spiritAnimal {
  text-align: center;
  color: rgb(255, 255, 255);
}
#nameFact {
  text-align: center;
  color: rgb(255, 255, 255);
} */